# Centralized config (généré dynamiquement)
config/cfg.py
config/cfg.yaml
# Ignore everything in docs/ost-docs except ai and docs.json
docs/ost-docs/*

# Byte-compiled / optimized / DLL files / Temp files
__pycache__/
*.py[cod]
*$py.class
*tmp*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a CI, but they should be ignored by default.
*.manifest
*.spec

# Logs
logs/
mlruns/
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
reco.txt

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.secrets*
.env
.env.local
.venv
env/
venv/
ENV/
env.bak
venv.bak
src/dbt/.user.yml

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*~
.cursor/

# OS specific
.DS_Store
Thumbs.db

# Personal
PR.md
PR.txt
TODO.md

# Linters
.ruff*

# SQL
postgres-data/

# Model artifacts & db schema
# Ignore generated embeddings but keep Hugging Face models
models/*.npy
models/*.pkl
models/*
src/models

# Scripts (local-only for now)
scripts/!cfg_cron.py
*.sh
!docker-entrypoint.sh
*.old

# DB test
*.db

# Claude
CLAUDE.md

# Turbo
node_modules/
apps/
turbo.json

# Go binaries
src/infrastructure/services/go/github/scraper
src/infrastructure/services/go/gitlab/scraper
github-scraper
gitlab-scraper

# Local git backups
**/.git_backups/**
**/git_backups/**
**/.git-backups/**
**/git-backups/**

# Model artifacts (do not track)
models/sentence-transformers/
models/mlruns/

# Local
.actrc

# Lock files
uv.lock

# Dagster
.tmp*
src/dagster/.telemetry*
history/

# Docker entrypoint scripts
entrypoint.sh