# ========================================
# DATABASE
# ========================================

POSTGRES_DB=ost-linker-db
POSTGRES_USER=ost-linker_user
POSTGRES_PASSWORD=ost-linker_pwd
DATABASE_URL=postgresql://ost-linker_user:ost-linker_pwd@localhost:7777/ost-linker-db